In [55]:
import pandas as pd
s = pd.Series([19, 85, 76], index=['절수', '영회', '민수'])
print(s)

절수    19
영회    85
민수    76
dtype: int64

In [8]:
df = pd. DataFrame ({
     '이름': ['철수', '영희', '민수'],
     '점수': [90, 85, 78]
})
print(df)

   이름  점수
0  철수  90
1  영희  85
2  민수  78

In [13]:
import pandas as pd

df = pd. DataFrame ({
    '나이': ['20', '30', '40'], # 문자열
    '점수': ['90', '85', '78'], # 문자열
    '생일': ['2000-01-01', '1995-03-22', '1985-07-09']
})

# 문자열 -> 숫자
df['나이']= df['나이'].astype(int)

# 문자열 - 날짜
df['생일']= pd.to_datetime(df['생일'])